@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #1c1917;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree);
  --font-serif: var(--font-bodoni-moda);

  --color-brand-50: #fff0f3;
  --color-brand-100: #fedce3;
  --color-brand-200: #feb9c7;
  --color-brand-300: #fd869e;
  --color-brand-400: #fc4a6e;
  --color-brand-500: #fc224d;
  --color-brand-600: #f40333;
  --color-brand-700: #c9032b;
  --color-brand-800: #a60323;
  --color-brand-900: #88021d;
  --color-brand-950: #5a0113;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, -apple-system, "system-ui", "Segoe UI",
    sans-serif;
}
